@use "../helpers" as *;

.burger-button {
  @include square(rem(34));
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(8.5) rem(4.25);
  color: var(--color-light);
  background-color: transparent;
  border: none;
  
  &__line {
    background-color: currentColor;
    width: 100%;
    height: 2px;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);
  }

  
}

